flows_a320.json
[{"id":"144ea1d9.53ba3e","type":"tab","label":"Firehose","disabled":true,"info":""},{"id":"a949a2e6.7945","type":"tab","label":"Grandfather","disabled":true,"info":""},{"id":"11d4f111.6f1eff","type":"tab","label":"PID","disabled":false,"info":""},{"id":"b4973237.46ab6","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"ec719d4d.0d54f8"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"ae1a6e5.d4c0d9","port":0}]}]},{"id":"a66872d4.c15c2","type":"mqtt-broker","name":"Raspberry Pi","broker":"192.168.68.134","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3df58b86.849264","type":"ui_tab","name":"63 Cleevelands Avenue","icon":"dashboard","disabled":false,"hidden":false},{"id":"7dbcb054.bf021","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3af76c70.2e91c4","type":"ui_group","name":"Study","tab":"3df58b86.849264","order":1,"disp":true,"width":"6","collapse":true},{"id":"231cb8a4.0e5518","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5b95cfe.7f81f","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd0ac36a.ed0df","type":"server","name":"Home Assistant"},{"id":"c45a83a3.d00908","type":"ui_group","name":"PID","tab":"80cd4062.93a5","order":1,"disp":true,"width":"6"},{"id":"80cd4062.93a5","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"e7f32dd0.0d0fe","type":"mqtt in","z":"144ea1d9.53ba3e","name":"","topic":"ftx/future/BTC/BTC-PERP","qos":"2","datatype":"json","broker":"231cb8a4.0e5518","x":280,"y":120,"wires":[["d40364ca.3b6328"]]},{"id":"40b1c318.38bd4c","type":"debug","z":"144ea1d9.53ba3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":300,"wires":[]},{"id":"d40364ca.3b6328","type":"rbe","z":"144ea1d9.53ba3e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":200,"wires":[["40b1c318.38bd4c"]]},{"id":"ab158084.9df9b","type":"inject","z":"a949a2e6.7945","name":"tick-tock","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["a7b3211e.fa73a","6b2c32b1.f4ab3c"]]},{"id":"cf284d0b.90b7f","type":"switch","z":"a949a2e6.7945","name":"Quarter hour?","property":"payload.minutes","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"45","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":770,"y":240,"wires":[["fc302930.1f7cf8"],["f93915c8.f42d88"],["349ea3e5.b8530c"],["29d10bd5.91ca04"]]},{"id":"fc302930.1f7cf8","type":"function","z":"a949a2e6.7945","name":"Determine filename by hour","func":"var hour = msg.payload.hours;\n\nif (hour > 12) {\n hour = hour - 12;\n}\n\nvar url = \"http://hass:8123/local/grandfather-clock-chime-\" + String(hour).padStart(2, '0') + \".wav\";\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["edabfbd.56b9108"]]},{"id":"31fabc06.938854","type":"comment","z":"a949a2e6.7945","name":"Virtual grandfather clock","info":"","x":180,"y":180,"wires":[]},{"id":"349ea3e5.b8530c","type":"change","z":"a949a2e6.7945","name":"Play half hour","rules":[{"t":"set","p":"url","pt":"msg","to":"http://hass:8123/local/grandfather-clock-chime-one-half.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":260,"wires":[["edabfbd.56b9108"]]},{"id":"29d10bd5.91ca04","type":"change","z":"a949a2e6.7945","name":"Play three-quarters hour","rules":[{"t":"set","p":"url","pt":"msg","to":"http://hass:8123/local/grandfather-clock-chime-three-quarter.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["edabfbd.56b9108"]]},{"id":"f93915c8.f42d88","type":"change","z":"a949a2e6.7945","name":"Play one-quarter hour","rules":[{"t":"set","p":"url","pt":"msg","to":"http://hass:8123/local/grandfather-clock-chime-one-quarter.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":220,"wires":[["edabfbd.56b9108"]]},{"id":"2713dcfc.ce9374","type":"delay","z":"a949a2e6.7945","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":360,"wires":[["4d05a614.91c7b8"]]},{"id":"edabfbd.56b9108","type":"actionflows","z":"a949a2e6.7945","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":1240,"y":240,"wires":[["f7120475.badd48"]]},{"id":"4d05a614.91c7b8","type":"actionflows","z":"a949a2e6.7945","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"WaitIntercom","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":900,"y":360,"wires":[["9331e1d.049ad2"]]},{"id":"f7120475.badd48","type":"cast-to-client","z":"a949a2e6.7945","name":"","url":"http://hass:8123/local/grandfather-clock-chime-one-quarter.wav","contentType":"","message":"","language":"en","ip":"192.168.1.122","port":"","volume":"25","x":540,"y":360,"wires":[["2713dcfc.ce9374"]]},{"id":"a7b3211e.fa73a","type":"time-range-switch","z":"a949a2e6.7945","name":"Waking hours only","lat":"51.91501","lon":"-2.07459","startTime":"05:45","endTime":"22:15","startOffset":0,"endOffset":0,"x":410,"y":260,"wires":[["cf284d0b.90b7f","6b2c32b1.f4ab3c"],[]]},{"id":"9331e1d.049ad2","type":"api-call-service","z":"a949a2e6.7945","name":"Set volume 100%","server":"bd0ac36a.ed0df","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.kitchen_speaker\",\"volume_level\":\"1.0\"}","mergecontext":"","x":1100,"y":360,"wires":[[]]},{"id":"6b2c32b1.f4ab3c","type":"debug","z":"a949a2e6.7945","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":140,"wires":[]},{"id":"7fe4b5c3.32e58c","type":"function","z":"b4973237.46ab6","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["ae1a6e5.d4c0d9"]]},{"id":"1bacd004.9753c","type":"inject","z":"b4973237.46ab6","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["ec719d4d.0d54f8"]]},{"id":"999a52c2.f465f","type":"function","z":"b4973237.46ab6","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["7fe4b5c3.32e58c"]]},{"id":"ec719d4d.0d54f8","type":"delay","z":"b4973237.46ab6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["ede39236.1961f8"]]},{"id":"a823c9cf.2a6178","type":"function","z":"b4973237.46ab6","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":258,"y":208,"wires":[["999a52c2.f465f"]]},{"id":"ae1a6e5.d4c0d9","type":"function","z":"b4973237.46ab6","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"ede39236.1961f8","type":"range","z":"b4973237.46ab6","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["a823c9cf.2a6178"]]},{"id":"f70949c8.aab988","type":"change","z":"11d4f111.6f1eff","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"op","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":649.5,"y":295,"wires":[["9f58a52d.076dd"]]},{"id":"2792f805.066c78","type":"inject","z":"11d4f111.6f1eff","name":"Setpoint 30","repeat":"","crontab":"","once":false,"topic":"setpoint","payload":"30","payloadType":"num","x":152,"y":243,"wires":[["e0cb2a8c.4402a8"]]},{"id":"1bf3ce16.c3ae02","type":"inject","z":"11d4f111.6f1eff","name":"Setpoint 80","repeat":"","crontab":"","once":false,"topic":"setpoint","payload":"80","payloadType":"num","x":150.5,"y":292,"wires":[["e0cb2a8c.4402a8"]]},{"id":"f69bbf05.bdd49","type":"inject","z":"11d4f111.6f1eff","name":"enable","repeat":"","crontab":"","once":false,"topic":"enable","payload":"true","payloadType":"bool","x":143,"y":128,"wires":[["e0cb2a8c.4402a8"]]},{"id":"143523b2.2f165c","type":"inject","z":"11d4f111.6f1eff","name":"disable","repeat":"","crontab":"","once":false,"topic":"enable","payload":"false","payloadType":"bool","x":143.5,"y":178,"wires":[["e0cb2a8c.4402a8"]]},{"id":"5ec4239b.34e174","type":"subflow:b4973237.46ab6","z":"11d4f111.6f1eff","name":"","env":[],"x":413,"y":147,"wires":[["de738fc5.75e4c8","e0cb2a8c.4402a8"]]},{"id":"de738fc5.75e4c8","type":"change","z":"11d4f111.6f1eff","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":634,"y":146,"wires":[["9f58a52d.076dd"]]},{"id":"e94f888a.130a88","type":"range","z":"11d4f111.6f1eff","minin":"0","maxin":"1","minout":"0","maxout":"25","action":"scale","round":false,"name":"Scale power","x":475,"y":295,"wires":[["f70949c8.aab988"]]},{"id":"9f58a52d.076dd","type":"ui_chart","z":"11d4f111.6f1eff","name":"","group":"c45a83a3.d00908","order":0,"width":"6","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#cf0005","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":950,"y":200,"wires":[[]]},{"id":"bef0a1f8.2e2cf","type":"inject","z":"11d4f111.6f1eff","name":"Clear chart on deploy","repeat":"","crontab":"","once":true,"topic":"","payload":"{\"data\":[]}","payloadType":"json","x":400,"y":363,"wires":[["9079ffaf.4a096"]]},{"id":"9079ffaf.4a096","type":"change","z":"11d4f111.6f1eff","name":"","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":636,"y":363,"wires":[["9f58a52d.076dd"]]},{"id":"e0cb2a8c.4402a8","type":"PID","z":"11d4f111.6f1eff","name":"","setpoint":"50","pb":"22","ti":"24","td":"6","integral_default":"0","smooth_factor":"0","max_interval":600,"enable":"1","disabled_op":"0","x":410,"y":220,"wires":[["5ec4239b.34e174","e94f888a.130a88"]]},{"id":"a09da2f9.239ec","type":"comment","z":"11d4f111.6f1eff","name":"Original Node-Red Code here ...","info":"[\n    {\n        \"id\": \"b4973237.46ab6\",\n        \"type\": \"subflow\",\n        \"name\": \"Process Simulation\",\n        \"info\": \"\",\n        \"in\": [\n            {\n                \"x\": 37,\n                \"y\": 103,\n                \"wires\": [\n                    {\n                        \"id\": \"ec719d4d.0d54f8\"\n                    }\n                ]\n            }\n        ],\n        \"out\": [\n            {\n                \"x\": 728.5,\n                \"y\": 294,\n                \"wires\": [\n                    {\n                        \"id\": \"ae1a6e5.d4c0d9\",\n                        \"port\": 0\n                    }\n                ]\n            }\n        ]\n    },\n    {\n        \"id\": \"7fe4b5c3.32e58c\",\n        \"type\": \"function\",\n        \"z\": \"b4973237.46ab6\",\n        \"name\": \"30 sec RC + 20\",\n        \"func\": \"// Applies a simple RC low pass filter to incoming payload values\\nvar tc = 30*1000;       // time constant in milliseconds\\n\\nvar lastValue = context.get('lastValue');\\nif (typeof lastValue == \\\"undefined\\\") lastValue = msg.payload;\\nvar lastTime = context.get('lastTime') || null;\\nvar now = new Date();\\nvar currentValue = msg.payload;\\nif (lastTime === null) {\\n    // first time through\\n    newValue = currentValue;\\n} else {\\n    var dt = now - lastTime;\\n    var newValue;\\n    \\n    if (dt > 0) {\\n        var dtotc = dt / tc;\\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\\n    } else {\\n        // no time has elapsed leave output the same as last time\\n        newValue = lastValue;\\n    }\\n}\\ncontext.set('lastValue', newValue);\\ncontext.set('lastTime', now);\\n\\nmsg.payload = newValue + 20;\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"x\": 626.5,\n        \"y\": 207,\n        \"wires\": [\n            [\n                \"ae1a6e5.d4c0d9\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1bacd004.9753c\",\n        \"type\": \"inject\",\n        \"z\": \"b4973237.46ab6\",\n        \"name\": \"Inject -0.2 at start\",\n        \"topic\": \"\",\n        \"payload\": \"-0.2\",\n        \"payloadType\": \"num\",\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": true,\n        \"x\": 134.5,\n        \"y\": 30,\n        \"wires\": [\n            [\n                \"ec719d4d.0d54f8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"999a52c2.f465f\",\n        \"type\": \"function\",\n        \"z\": \"b4973237.46ab6\",\n        \"name\": \"10 sec RC\",\n        \"func\": \"// Applies a simple RC low pass filter to incoming payload values\\nvar tc = 10*1000;       // time constant in milliseconds\\n\\nvar lastValue = context.get('lastValue');\\nif (typeof lastValue == \\\"undefined\\\") lastValue = msg.payload;\\nvar lastTime = context.get('lastTime') || null;\\nvar now = new Date();\\nvar currentValue = msg.payload;\\nif (lastTime === null) {\\n    // first time through\\n    newValue = currentValue;\\n} else {\\n    var dt = now - lastTime;\\n    var newValue;\\n    \\n    if (dt > 0) {\\n        var dtotc = dt / tc;\\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\\n    } else {\\n        // no time has elapsed leave output the same as last time\\n        newValue = lastValue;\\n    }\\n}\\ncontext.set('lastValue', newValue);\\ncontext.set('lastTime', now);\\n\\nmsg.payload = newValue;\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"x\": 451,\n        \"y\": 207,\n        \"wires\": [\n            [\n                \"7fe4b5c3.32e58c\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"ec719d4d.0d54f8\",\n        \"type\": \"delay\",\n        \"z\": \"b4973237.46ab6\",\n        \"name\": \"\",\n        \"pauseType\": \"delay\",\n        \"timeout\": \"1\",\n        \"timeoutUnits\": \"seconds\",\n        \"rate\": \"1\",\n        \"rateUnits\": \"second\",\n        \"randomFirst\": \"1\",\n        \"randomLast\": \"5\",\n        \"randomUnits\": \"seconds\",\n        \"drop\": false,\n        \"x\": 268,\n        \"y\": 104,\n        \"wires\": [\n            [\n                \"ede39236.1961f8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"a823c9cf.2a6178\",\n        \"type\": \"function\",\n        \"z\": \"b4973237.46ab6\",\n        \"name\": \"2 msg transport delay\",\n        \"func\": \"// stores messages in a fifo until the specified number have been received, \\n// then releases them as new messages are received.\\n// during the filling phase the earliest message is passed on each time \\n// a message is received, but it is also left in the fifo\\nvar fifoMaxLength = 2;\\nvar fifo = context.get('fifo') || [];\\n// push the new message onto the top of the array, messages are shifted down and\\n// drop off the front\\nvar length = fifo.push(msg);  // returns new length\\nif (length > fifoMaxLength) {\\n    newMsg = fifo.shift();\\n} else {\\n    // not full yet, make a copy of the msg and pass it on\\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\\n}\\ncontext.set('fifo', fifo);\\nreturn newMsg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"x\": 258,\n        \"y\": 208,\n        \"wires\": [\n            [\n                \"999a52c2.f465f\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"ae1a6e5.d4c0d9\",\n        \"type\": \"function\",\n        \"z\": \"b4973237.46ab6\",\n        \"name\": \"Clear all except payload\",\n        \"func\": \"msg2 = {payload: msg.payload};\\nreturn msg2;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"x\": 545,\n        \"y\": 293,\n        \"wires\": [\n            []\n        ]\n    },\n    {\n        \"id\": \"ede39236.1961f8\",\n        \"type\": \"range\",\n        \"z\": \"b4973237.46ab6\",\n        \"minin\": \"0\",\n        \"maxin\": \"1\",\n        \"minout\": \"0\",\n        \"maxout\": \"100\",\n        \"action\": \"scale\",\n        \"round\": false,\n        \"name\": \"\",\n        \"x\": 87,\n        \"y\": 208,\n        \"wires\": [\n            [\n                \"a823c9cf.2a6178\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e0cb2a8c.4402a8\",\n        \"type\": \"PID\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"\",\n        \"setpoint\": \"50\",\n        \"pb\": \"0\",\n        \"ti\": \"0\",\n        \"td\": \"0\",\n        \"integral_default\": \"0\",\n        \"smooth_factor\": \"0\",\n        \"max_interval\": 600,\n        \"enable\": \"1\",\n        \"disabled_op\": \"0\",\n        \"x\": 362,\n        \"y\": 175,\n        \"wires\": [\n            [\n                \"5ec4239b.34e174\",\n                \"e94f888a.130a88\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f70949c8.aab988\",\n        \"type\": \"change\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"set\",\n                \"p\": \"topic\",\n                \"pt\": \"msg\",\n                \"to\": \"op\",\n                \"tot\": \"str\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 601.5,\n        \"y\": 250,\n        \"wires\": [\n            [\n                \"9f58a52d.076dd\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"2792f805.066c78\",\n        \"type\": \"inject\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"Setpoint 30\",\n        \"topic\": \"setpoint\",\n        \"payload\": \"30\",\n        \"payloadType\": \"num\",\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"x\": 104,\n        \"y\": 198,\n        \"wires\": [\n            [\n                \"e0cb2a8c.4402a8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1bf3ce16.c3ae02\",\n        \"type\": \"inject\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"Setpoint 80\",\n        \"topic\": \"setpoint\",\n        \"payload\": \"80\",\n        \"payloadType\": \"num\",\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"x\": 102.5,\n        \"y\": 247,\n        \"wires\": [\n            [\n                \"e0cb2a8c.4402a8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f69bbf05.bdd49\",\n        \"type\": \"inject\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"enable\",\n        \"topic\": \"enable\",\n        \"payload\": \"true\",\n        \"payloadType\": \"bool\",\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"x\": 95,\n        \"y\": 83,\n        \"wires\": [\n            [\n                \"e0cb2a8c.4402a8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"143523b2.2f165c\",\n        \"type\": \"inject\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"disable\",\n        \"topic\": \"enable\",\n        \"payload\": \"false\",\n        \"payloadType\": \"bool\",\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"x\": 95.5,\n        \"y\": 133,\n        \"wires\": [\n            [\n                \"e0cb2a8c.4402a8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"5ec4239b.34e174\",\n        \"type\": \"subflow:b4973237.46ab6\",\n        \"z\": \"f0414dd0.dd514\",\n        \"x\": 365,\n        \"y\": 102,\n        \"wires\": [\n            [\n                \"de738fc5.75e4c8\",\n                \"e0cb2a8c.4402a8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"de738fc5.75e4c8\",\n        \"type\": \"change\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"set\",\n                \"p\": \"topic\",\n                \"pt\": \"msg\",\n                \"to\": \"pv\",\n                \"tot\": \"str\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 586,\n        \"y\": 101,\n        \"wires\": [\n            [\n                \"9f58a52d.076dd\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e94f888a.130a88\",\n        \"type\": \"range\",\n        \"z\": \"f0414dd0.dd514\",\n        \"minin\": \"0\",\n        \"maxin\": \"1\",\n        \"minout\": \"0\",\n        \"maxout\": \"25\",\n        \"action\": \"scale\",\n        \"round\": false,\n        \"name\": \"Scale power\",\n        \"x\": 427,\n        \"y\": 250,\n        \"wires\": [\n            [\n                \"f70949c8.aab988\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"9f58a52d.076dd\",\n        \"type\": \"ui_chart\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"\",\n        \"group\": \"c45a83a3.d00908\",\n        \"order\": 0,\n        \"width\": \"6\",\n        \"height\": \"6\",\n        \"label\": \"chart\",\n        \"chartType\": \"line\",\n        \"legend\": \"false\",\n        \"xformat\": \"HH:mm:ss\",\n        \"interpolate\": \"linear\",\n        \"nodata\": \"\",\n        \"dot\": false,\n        \"ymin\": \"0\",\n        \"ymax\": \"100\",\n        \"removeOlder\": \"3\",\n        \"removeOlderPoints\": \"\",\n        \"removeOlderUnit\": \"60\",\n        \"cutout\": 0,\n        \"useOneColor\": false,\n        \"colors\": [\n            \"#1f77b4\",\n            \"#cf0005\",\n            \"#ff7f0e\",\n            \"#2ca02c\",\n            \"#98df8a\",\n            \"#d62728\",\n            \"#ff9896\",\n            \"#9467bd\",\n            \"#c5b0d5\"\n        ],\n        \"useOldStyle\": false,\n        \"x\": 791,\n        \"y\": 175,\n        \"wires\": [\n            [],\n            []\n        ]\n    },\n    {\n        \"id\": \"bef0a1f8.2e2cf\",\n        \"type\": \"inject\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"Clear chart on deploy\",\n        \"topic\": \"\",\n        \"payload\": \"{\\\"data\\\":[]}\",\n        \"payloadType\": \"json\",\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": true,\n        \"x\": 352,\n        \"y\": 318,\n        \"wires\": [\n            [\n                \"9079ffaf.4a096\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"9079ffaf.4a096\",\n        \"type\": \"change\",\n        \"z\": \"f0414dd0.dd514\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"move\",\n                \"p\": \"payload.data\",\n                \"pt\": \"msg\",\n                \"to\": \"payload\",\n                \"tot\": \"msg\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 588,\n        \"y\": 318,\n        \"wires\": [\n            [\n                \"9f58a52d.076dd\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"c45a83a3.d00908\",\n        \"type\": \"ui_group\",\n        \"z\": \"\",\n        \"name\": \"PID\",\n        \"tab\": \"80cd4062.93a5\",\n        \"disp\": true,\n        \"width\": \"6\"\n    },\n    {\n        \"id\": \"80cd4062.93a5\",\n        \"type\": \"ui_tab\",\n        \"z\": \"\",\n        \"name\": \"Home\",\n        \"icon\": \"dashboard\"\n    }\n]\n","x":1010,"y":80,"wires":[]}]